# Ex - GroupBy

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"

drinks = pd.read_csv(url)
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [3]:
drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

In [5]:
mask=drinks["continent"].isnull()
drinks[mask]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
5,Antigua & Barbuda,102,128,45,4.9,NaN
11,Bahamas,122,176,51,6.3,NaN
14,Barbados,143,173,36,6.3,NaN
17,Belize,263,114,8,6.8,NaN
32,Canada,240,122,100,8.2,NaN
41,Costa Rica,149,87,11,4.4,NaN
43,Cuba,93,137,5,4.2,NaN
50,Dominica,52,286,26,6.6,NaN
51,Dominican Republic,193,147,9,6.2,NaN
54,El Salvador,52,69,2,2.2,NaN
68,Grenada,199,438,28,11.9,NaN
69,Guatemala,53,69,2,2.2,NaN
73,Haiti,1,326,1,5.9,NaN
74,Honduras,69,98,2,3.0,NaN
84,Jamaica,82,97,9,3.4,NaN
109,Mexico,238,68,5,5.5,NaN
122,Nicaragua,78,118,1,3.5,NaN
130,Panama,285,104,18,7.2,NaN
143,St. Kitts & Nevis,194,205,32,7.7,NaN
144,St. Lucia,171,315,71,10.1,NaN
145,St. Vincent & the Grenadines,120,221,11,6.3,NaN
174,Trinidad & Tobago,197,156,7,6.4,NaN
184,USA,249,158,84,8.7,NaN

In [7]:
mask=drinks["continent"]=="SA"
drinks[mask]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
6,Argentina,193,25,221,8.3,SA
20,Bolivia,167,41,8,3.8,SA
23,Brazil,245,145,16,7.2,SA
35,Chile,130,124,172,7.6,SA
37,Colombia,159,76,3,4.2,SA
52,Ecuador,162,74,3,4.2,SA
72,Guyana,93,302,1,7.1,SA
132,Paraguay,213,117,74,7.3,SA
133,Peru,163,160,21,6.1,SA
163,Suriname,128,178,7,5.6,SA
185,Uruguay,115,35,220,6.6,SA
188,Venezuela,333,100,3,7.7,SA

In [6]:
drinks.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

In [8]:
print(drinks.isnull().sum()) #hay 23 nulos, todos en continent

country                          0
beer_servings                    0
spirit_servings                  0
wine_servings                    0
total_litres_of_pure_alcohol     0
continent                       23
dtype: int64

In [ ]:
drinks.fillna("AM", inplace=True) #le digo que sustituya el null por AM

In [ ]:
print(drinks.isnull().sum()) #vuelvo a mirar para cerciorarme de que todo se ha cambiado bien

country                         0
beer_servings                   0
spirit_servings                 0
wine_servings                   0
total_litres_of_pure_alcohol    0
continent                       0
dtype: int64

In [ ]:
drinks #imprimo y veo el cambio, que hoy bastante tiempo en perdido en el euro12

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Step 4. Which continent drinks more beer on average?

In [12]:

beer_per_continent=drinks.groupby("continent")["beer_servings"].mean() #pensaba que con el max aquí me saldría, pero nope
beer_per_continent

continent
AF     61.471698
AM    145.434783
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

In [ ]:
continente_mas_beer_sim=beer_per_continent.sort_values()
continente_mas_beer_sim

continent
AS     37.045455
AF     61.471698
OC     89.687500
AM    145.434783
SA    175.083333
EU    193.777778
Name: beer_servings, dtype: float64

In [18]:
continente_mas_beer_sim.tail(1).index[0] #no me sale el nombre

'EU'

In [20]:
continente_mas_beer_sim.idxmax()

'EU'

### Step 5. For each continent print the statistics for wine consumption.

In [ ]:
continentes_vino = drinks.groupby("continent")["wine_servings"].describe() #es la única forma en la que se me ocurre sacar estadísticas
continentes_vino

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AM          23.0   24.521739  28.266378  1.0   5.0   11.0   34.00  100.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### Step 6. Print the mean alcohol consumption per continent for every column

In [21]:
media_columnas=drinks.pivot_table(["beer_servings","wine_servings", "spirit_servings", "total_litres_of_pure_alcohol"] , index="continent", margins=True, aggfunc="mean").round(1) 
media_columnas

,beer_servings,spirit_servings,total_litres_of_pure_alcohol,wine_servings
continent,,,,
AF,61.5,16.3,3.0,16.3
AM,145.4,165.7,6.0,24.5
AS,37.0,60.8,2.2,9.1
EU,193.8,132.6,8.6,142.2
OC,89.7,58.4,3.4,35.6
SA,175.1,114.8,6.3,62.4
All,106.2,81.0,4.7,49.5

### Step 7. Print the median alcohol consumption per continent for every column

In [40]:
media_columnas=drinks.pivot_table(["beer_servings","wine_servings", "spirit_servings", "total_litres_of_pure_alcohol"] , index="continent", margins=True, aggfunc="median") 
media_columnas

,beer_servings,spirit_servings,total_litres_of_pure_alcohol,wine_servings
continent,,,,
AF,32.0,3.0,2.30,2.0
AM,143.0,137.0,6.30,11.0
AS,17.5,16.0,1.20,1.0
EU,219.0,122.0,10.00,128.0
OC,52.5,37.0,1.75,8.5
SA,162.5,108.5,6.85,12.0
All,76.0,56.0,4.20,8.0

### Step 8. Print the mean, min and max values for spirit consumption per continent.

In [22]:
media_columnas=drinks.pivot_table([ "spirit_servings"] , index="continent", margins=True, aggfunc=["mean", "min", "max"]).round(1) 
media_columnas

                     mean             min             max
          spirit_servings spirit_servings spirit_servings
continent
AF                   16.3               0             152
AM                  165.7              68             438
AS                   60.8               0             326
EU                  132.6               0             373
OC                   58.4               0             254
SA                  114.8              25             302
All                  81.0               0             438

In [ ]:
drinks.groupby("continent")["spirit_servings"]

In [ ]:
drinks.loc[(drinks["continent"]=="EU") & (drinks["spirit_serving"]==0)]

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (2224171403.py, line 1)